body {
  background-image: linear-gradient(to bottom right, #01944f13, #ffffff05);
}

.main {
  margin: 2vw;
}

/* Navbar Styling ----------------------------------------------------------------------- */

header {
  background-color: rgb(242, 246, 241);
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(242, 249, 240)
  );
}

.navbar-row1 {
  display: grid;
  grid-template-columns: 20% auto 20%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

#logo {
  margin-left: 10px;
}

#tab-selector {
  display: flex; /* Makes the list items display in a row */
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  padding: 0; /* This line removes the random padding around list elements */
  margin: 0;
  align-items: center;

  li {
    padding: 3px 0px 3px 0px;
    margin-right: 5px; /* Adds space between items */
    font-size: 15px;
  }

  #messages {
    position: relative;

    .notification {
      position: absolute;
      top: -20%;
      right: 5%;
      font-weight: bold;
      color: red;
    }
  }
}

.selected-tab {
  border-radius: 20px;
  background-color: #019450;
  color: white;
}

.selected-tab.dropdown-item {
  border-radius: 0px;
}

.selected-tab.dropdown-item {
  border-radius: 0px;
}

.post-button-profile-icon {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 20px;
}

.make-a-post {
  display: flex;
  text-align: center;
  align-items: center;

  h2 {
    margin-top: 6px;
    margin-right: 10px;
    color: #019450;
  }

  a {
    border-color: #019450;
    text-decoration: none;
    color: white;
  }
}

.nav-btn {
  background-color: rgb(20, 51, 37);
  border-radius: 50%;
  padding: 2px;
}

.nav-btn:hover {
  background-color: #019450;
}

.nav-btn:active {
  background-color: rgb(20, 51, 37);
}

.floating-btn {
  background-color: rgb(20, 51, 37);
  border-radius: 50%;
  padding: 2px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  right: 30px;
}

.floating-btn:hover {
  box-shadow: 0px 5px 8px #00000035;
  background-color: #019450;
}

.floating-btn:active {
  background-color: #00502b;
}

#profile-icon {
  margin-right: 10px;
}

.navbar-row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.mobile-search-bar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: green;
  background-image: linear-gradient(to left, #019450, white);
  background-position: right;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 10px;
}

.filter-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}

.searchbar-form {
  padding: 0px 5px 0px 5px;
}

.navbar-searchbar {
  background-color: rgb(224, 232, 225);
  background-image: url(/assets/search.svg);
  background-position: 10px 12px;
  background-size: 18px;
  background-repeat: no-repeat;

  color: black;
  font-size: 15px;
  width: 240px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  padding: 10px 35px;
  outline: white;
  transition: outline-color 0.3s ease-in-out; /* Smooth transition for outline */
}

.navbar-searchbar:focus {
  outline: none;
  outline: 2px solid #019450; /* Change outline color */
}

.desktop-search-bar {
  position: relative;
  background-image: linear-gradient(to left, #019450, white);
  background-position: right;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 10px;
}

.dropdown-menu {
  margin-top: 100px;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(244, 248, 242)
  );
}

.dropdown-item {
  cursor: pointer;
}
.dropdown-item:hover {
  background-color: rgba(12, 98, 59, 0.331) !important;
  color: white;
}

.search-icon {
  position: absolute;
  left: 10px;
  z-index: 1;
  padding: 12px;
  cursor: pointer;
}
/* MOBILE SECTION ---------------------------------- */

/* Basic styling for viewports that are 320px or wider */
@media (min-width: 20px) {
  .hero-text {
    text-align: center;
  }

  .desktop-search-bar {
    display: none;
  }

  .landing-page-container {
    margin: 0px 20px 0px 20px;
  }

  #current-chat {
    width: 100%;
  }
  #chat-container {
    padding: 0;
    padding-bottom: 20px;
  }

  /* Each Product */

  #product-content-container {
    width: 300px;
  }

  #product-photo {
    width: 300px;
  }

  /* Listing */

  .main-listing-container {
    a {
      div {
        img {
          width: 100px;
        }
      }
    }
  }
}

/* Additional adjustments for slightly larger screens (e.g., tablets) */
@media (min-width: 480px) {
  body {
    /* background-color: rgba(30, 255, 0, 0.181); */
  }

  .hero-text {
    text-align: center;
  }

  .desktop-search-bar {
    display: none;
  }

  .landing-page-container {
    margin: 0px 20px 0px 20px;
  }

  #current-chat {
    width: 400px;
  }

  #chat-container {
    padding: 10px;
  }

  #product-content-container {
    width: 350px;
  }

  #product-photo {
    width: 350px;
  }

  /* Listing */

  .main-listing-container {
    a {
      div {
        img {
          width: 200px;
        }
      }
    }
  }
}

/* Adjustments for even wider viewports (e.g., small laptops) */
@media (min-width: 768px) {
  .navbar-row1 {
    display: flex;
    justify-content: space-between;
  }

  .landing-page-container {
    margin-top: 10px;
  }

  .hero-text {
    margin-top: 50px;
    text-align: left;
  }

  .desktop-search-bar {
    display: flex;
    align-items: center;
  }

  .navbar-searchbar {
    width: 230px;
  }

  .navbar-row2 {
    display: none;
  }

  #center-nav-container {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
  }

  #current-chat {
    width: 600px;
  }

  #chat-container {
    padding: 10px;
  }

  #product-content-container {
    width: 500px;
  }

  #product-photo {
    width: 500px;
  }

  /* Listing */

  .main-listing-container {
    a {
      div {
        img {
          width: 200px;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */

/* Login Form ----------------- */
#firebaseui-auth-container {
  margin: 40px 0px 40px 0px;
}

.firebaseui-container {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(244, 248, 242)
  );
  border-radius: 10px;
  box-shadow: 0px 2px 10px #01944f2d;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.firebaseui-container:hover {
  transform: scale(1.01);
  box-shadow: 0px 2px 10px #013d212d;
}

/* Button background and hover effects */
.firebaseui-container .firebaseui-idp-button {
  background-color: #019450;
  border: none;
  color: white;
}

.firebaseui-container .firebaseui-idp-button:hover {
  background-color: #01783c; /* A slightly darker shade for hover effect */
}

/* Submit button style */
.firebaseui-container .firebaseui-button {
  border-radius: 10px;
  background-color: #019450;
  color: white;
}

.firebaseui-container .firebaseui-button:hover {
  background-color: #01783c;
}

.mdl-textfield__input {
  border-bottom: 2px solid #019450 !important;
}

.mdl-textfield__input:focus {
  border-bottom: 2px solid #019450 !important;
}

.mdl-textfield.is-focused .mdl-textfield__label,
.mdl-textfield.is-dirty .mdl-textfield__label {
  color: #019450 !important;
}

/* Page Styling --------------- */

#banner-container {
  background-color: #019450;
  background-size: cover;
  height: 100%;
}

#banner-container > * {
  color: black;
}
.caption-container {
  background-color: hsl(120, 33%, 97%);
  opacity: 1;
  border-radius: 20px;
}

.btn {
  background-color: #019450;
  border: none;
  color: white;
  font-weight: 500;
}

.btn:hover {
  background-color: #00753e;
  box-shadow: 0px 5px 8px #00000023;
  color: white;
}

.btn:active {
  box-shadow: 0px 2px 10px #000000;
  background-color: black;
}

.btn-gray {
  background-color: #a7a7a7;
  border: none;
  color: white;
}

.btn-gray:hover {
  background-color: #8e8e8e;
  color: white;
  box-shadow: 0px 2px 5px rgb(20, 20, 20);
}

.btn-white {
  background-color: white;
  border: none;
  color: #019450;
}

.btn-white:hover {
  background-color: white;
  color: #019450;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.53);
}

#logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
#logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main Page styling ------------------------------- */
.certified-fresh {
  text-decoration: none;
  color: #019450;
}

.certified-fresh:hover {
  text-decoration: underline;
}

/* Product Styling ----------------------------------- */
.productLink {
  text-decoration: none;
}

.card {
  margin-bottom: 50px;
}

.card-body {
  padding: 6px;
}

.product-profile {
  display: flex;
  height: 0;
  margin: 20px 0;
  align-items: center;
}

.product-profile-icon {
  object-fit: cover;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.product-farmer-name {
  font-size: small;
  margin: 0;
  margin-left: 12px;
  display: flex;
}

.card-img {
  height: 240px;
  object-fit: cover;
  width: 100%;
}

.card-title {
  margin: 0;
}

/* Hover states */

.card:hover {
  outline: 2px solid #019450;
}

/* ---------------------------------- */

/* Account page (Not Done)*/

#account-header {
  padding-top: 10px;
  text-align: center;
  color: black;

  padding-bottom: 10px;
}

#user-profile {
  text-align: center;

  #profile-pic-container {
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 2em;
    position: relative;
    justify-content: center;

    #profile-pic-prompt {
      position: absolute;
      bottom: 0.5em;
      margin: auto;
      width: 170px;
      text-align: center;
      font-size: 1.1em;

      span {
        text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.754);
        color: white;
        cursor: pointer;
      }
    }

    #profile-pic {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 50%;
      margin: auto;

      @media (hover: none) {
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.522);
      }
    }
    #profile-pic:hover {
      cursor: pointer;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.522);
    }
  }

  #farmer-proof-container {
    #farmer-proof {
      max-width: 100%;
      height: 40vh;
      object-fit: cover;
      margin: auto;
    }
  }
}

.centerer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-inputs {
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 35px;
  border: none;
  background-color: #ffffff00;
  border-bottom: solid 1px black;
  border-radius: 0px;
  transition: border-bottom-width 0.1s ease;
  outline: none;
  box-shadow: none;
}

.all-inputs:focus {
  background-color: #ffffff00;
  border-bottom: solid 2px #019450;
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

#inputName {
  background-position: 10px 8px;
  background-image: url(/assets/user.svg);
}
#inputEmail {
  background-position: 10px 13px;
  background-image: url(/assets/mail.svg);
}
#inputAddress {
  background-size: 14px;
  background-position: 10px 8px;
  background-image: url(/assets/address.svg);
}
#inputAddress2 {
  background-size: 14px;
  background-position: 10px 8px;
  background-image: url(/assets/address.svg);
}
#inputCity {
  background-position: 10px 12px;
  background-image: url(/assets/city.svg);
}
#inputZip {
  background-position: 9px 10px;
  background-image: url(/assets/zip.svg);
}

.verification-group {
  padding: 10px;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #ffffff00;
  border: none;
}

input[type="file"] {
  display: none;
}

.proof-card:hover {
  outline: none;
}

#proof-button {
  margin: 0;
  margin-top: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  display: inline-block;
  padding: 6px 0px;
  font-weight: bold;
}

#proof-button:hover {
  background-color: #019450;
  color: white;
  cursor: pointer;
  border-color: #019450;
}

/* -------------------------------------------------- */

.text-bg-success {
  background-color: #019450 !important;
}

.plus-sign {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid rgb(0, 0, 0);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 5px;
}

.plus-sign:hover {
  background-color: #019450;
  color: white;
}

.form-control {
  margin: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.m_container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  letter-spacing: 0.5px;
  height: 80%;
}

.m_userprofile {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-style: none;
  border-radius: 100%;
}

/* User-name */
.username {
  text-align: center;
  color: black;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 16px; /* This is a cheating way to get the text centered*/
}

/* Message board styling ---------------------------------*/

#chat-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 80vh;
  margin: auto;
  border-radius: 10px;
}

#contacts-list {
  width: 100px;
  background-color: rgb(224, 232, 225);
  border-right: 2px solid #a7a7a7;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow-y: scroll;
}

/* TEMPORARY FOR EXAMPLE */
#contacts-go-here {
  flex-direction: column;
}

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;

  .contact-photo {
    aspect-ratio: 1/1;
    height: 55%;
    border-radius: 50%;
  }

  .notification {
    position: absolute;
    top: 10%;
    right: 10%;
    font-weight: bold;
    color: red;
  }
}

.contact[selected] {
  background-color: #019450;
  border-radius: 6px;
}

#current-chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#chat-header {
  padding: 20px;

  text-align: center;
  background-color: rgb(224, 232, 225);
  height: 64px;
  border-top-right-radius: 12px;
}

#chat-content {
  max-width: 100%;
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(208, 216, 209);
  border-bottom-right-radius: 12px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.incoming-message {
  margin: 10px;
  align-self: flex-start;
  min-width: 60%;
  max-width: 70%;
  padding: 10px;
  border-radius: 20px;

  font-size: 14px;

  background-color: rgb(255, 255, 255);
  color: #1f1f1f;
}

.outgoing-message {
  margin: 10px;
  align-self: flex-end;
  min-width: 60%;
  max-width: 70%;
  padding: 10px;
  border-radius: 20px;

  font-size: 14px;

  background-color: #01944fc3;
  color: white;
}

#message-bar {
  display: inline-block;
  position: relative;
  width: 90%;
  margin: 10px;
}

#message-bar > input {
  width: 100%;
  border: none;
  background-color: rgb(224, 232, 225);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  outline: rgb(225, 244, 223);
  transition: outline-color 0.3s ease-in-out;
}

#message-bar > input:focus {
  outline: solid 2px #019450;
}

#message-send-button {
  position: absolute;
  right: 0;

  background-color: #019450;
  color: white;
  font-size: 14px;
  height: 31px;
  margin: auto;
  aspect-ratio: 1/1;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#message-send-button:hover {
  background-color: #00753e;
}
/* ------------------------------------------------------- */

/* Listing Page */

.main-listing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  a {
    text-decoration: none;
    color: #1f1f1f;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-bottom: 10px;
      }
    }
  }
}

.product-type-img:hover {
  outline: solid 3px #019450;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.522);
}

/* Product listing Info Page -------------- */

#listing-form-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  width: fit-content;
  border: solid #019450;
}

.form-img-container:hover {
  background-color: #00502b48;
  color: white;
  cursor: pointer;
}

#input-product-photo-container {
  background-color: #eeeeee93;
  border-radius: 12px;
  width: 200px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#input-product-photo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#photo-text {
  margin-top: 40px;
}

.form-input {
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 20px;
  border: none;
  background-color: #ffffff00;
  border-bottom: solid 1px black;
  border-radius: 0px;
  transition: border-bottom-width 0.1s ease;
  outline: none;
  box-shadow: none;
}

.form-input:focus {
  background-color: #ffffff00;
  border-bottom: solid 2px #019450;
  outline: none;
  box-shadow: none;
}

.name-input {
  background-position: 0px 9px;
  background-image: url(/assets/leaf.svg);
  width: 265px;
}

.form-group-2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-description {
  width: 265px;
  background-color: #ffffff00;
  border: none;
  border-bottom: solid 1px black;
}

#form-resupplied:disabled {
  color: #c6c6c6;
}

.price-input {
  width: 100px;
  background-position: 0px 5px;
  background-image: url(/assets/dollar.svg);
}

/* Dark Mode Toggle Switch (Light Mode) -------- */

#dark-mode-toggle-container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 1rem;
  gap: 0.2rem;
}

#dark-mode-toggle-container > p {
  margin: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00502b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00502b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Each Product Styling ------------- */

#product-content-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#product-photo {
  border-radius: 12px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#price-type {
  margin-top: 20px;
  margin-bottom: 30px;
  align-self: flex-start;
}

.product-profile-info-container {
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.product-timestamp {
  color: #019450;
  justify-self: flex-end;
  font-size: small;
  margin: 0;
  display: flex;
}

#product-info-container {
  align-items: start;

  h3 {
    display: flex;
    justify-content: space-between;
  }
}

#product-desc {
  color: #1f1f1f;
}

.line-divider {
  margin-top: 30px;
}

.fake-icon {
  position: absolute;
  left: 10px;
  z-index: 1;
  padding: 12px;
  cursor: pointer;
}

.review-btn {
  font-size: small;
  padding: 0px 4px;
}
