body {
  margin: 2vw;
  background-color: #f4fcf4;
}

#banner-container {
  background-image: url("../assets/strawberries.jpg");
  background-size: cover;
  height: 100%;
}

#banner-container > * {
  color: black;
}
#caption-container {
  background-color: #f4fcf4;
  opacity: 0.9;
  border-radius: 10px;
}

.btn {
  background-color: #04442c;
}
